<style>
    h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<h1>Successfully uploaded <%= file_name %> :yes3:</h1>
<p>File name: <%= file_name_x %> File size: <%= size %></p>